<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ink.kscope.parallelspace">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MANAGE_PARALLEL_SPACES" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParallelSpace.Monet">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>
